outputs/
__pycache__/
.nfs*
*.egg-info/
.vscode
media/

evaluation/mrest/core/outputs
evaluation/mrest/core/R3M/
evaluation/mrest/notebooks/.ipynb_checkpoints/
evaluation/mrest/notebooks/iam-lab/
evaluation/mrest/notebooks/wandb/


evaluation/mrest/bash/outputs
evaluation/mrest/bash/R3M/
evaluation/mrest/bash/tmp_*
evaluation/mrest/bash/finetune/tmp_*
evaluation/mrest/bash/finetune/outputs
evaluation/mrest/bash/eval_train_ckpts/tmp_*
evaluation/mrest/bash/eval_train_ckpts/outputs
